#!/usr/bin/env bash

rm -rf ~/.vim/pack/start-only/start/*
mkdir -p ~/.vim/pack/start-only/start
{{ range .plugins.vim.start.git -}}
git clone {{ . | quote }} ~/.vim/pack/start-only/start/{{- . | base }}
{{ end -}}

{{ range .plugins.vim.autoload.curl -}}
curl -fLo ~/.vim/autoload/{{- . | base }} --create-dirs {{ . | quote }}
{{ end -}}

