#! /usr/bin/env bash

if [[ ${BASH_VERSINFO[0]} < 4 || (${BASH_VERSINFO[0]} == 4 && ${BASH_VERSINFO[1]} < 1) ]]; then
    echo "bash version >= 4.1 required" >&2
    exit 1
fi
echo "bash version ${BASH_VERSINFO[0]}.${BASH_VERSINFO[1]} is supported"
exit 0
